<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="PhpHtmlBuilder tests">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>./</directory>
            <exclude>
                <directory>./tests</directory>
                <directory>./vendor</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
